<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.realjamapps.yamusicapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".utils.YaMusicApp"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:largeHeap="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:uiOptions="splitActionBarWhenNarrow">

        <activity
            android:name=".splash_screen.Splashscreen"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".content.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>

        <activity
            android:name=".intro.FancyAppIntro"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" />

        <activity
            android:name=".content.SettingsActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme"
            android:parentActivityName=".content.MainActivity" >
        <!-- Parent activity meta-data to support 4.0 and lower -->
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".content.MainActivity" />
        </activity>

        <activity android:name=".content.DetailsActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".content.MainActivity" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".content.MainActivity" />
        </activity>

        <activity android:name=".content.SearchResultsActivity"
            android:parentActivityName=".content.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".content.MainActivity" />

            <meta-data android:name="android.app.searchable"
                android:resource="@xml/searchable"
                android:value=".content.SearchResultActivity" />
        </activity>

        <activity
            android:name=".content.GenreFilterActivity"
            android:parentActivityName=".content.MainActivity"
            android:launchMode="singleTop"
            android:theme="@style/AppTheme" >
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".content.MainActivity" />
        </activity>

        <service
            android:name=".services.DownloadServiceIntent"
            android:exported="false" />

    </application>

</manifest>
